/* ListadoEvents.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

.container {
    padding: 1rem;
    background-color: #e3f2fd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.heading {
    color: #01579b;
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Tamaño de fuente reducido para el título */
    font-family: 'Open Sans', sans-serif;
}

.eventList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Máximo de tres eventos por fila */
    gap: 1rem; /* Espacio entre los eventos */
}

.eventItem {
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.3rem; /* Padding reducido para hacer el evento más fino */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    text-align: left;
    background-color: #a9cff0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem; /* Tamaño de fuente reducido para los eventos */
    line-height: 1.2; /* Espaciado reducido entre líneas */
}

/* Colores específicos para cada evento */


.eventButton {
    background-color: #01579b;
    color: #ffffff;
    border: none;
    padding: 0.25rem 0.5rem; /* Padding reducido para el botón */
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem; /* Tamaño de fuente reducido para el botón */
    font-family: 'Roboto', sans-serif;
}

.eventButton:hover {
    background-color: #0277bd;
}

.loading, .error {
    color: #01579b;
    font-size: 1rem; /* Tamaño de fuente reducido para mensajes de carga y error */
    text-align: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}
