.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin: 20px auto 0;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #a9cff0; /* Bordes azules */
}

/* Estilos para las pestañas de navegación */
.navPills {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
}

.navItem {
  flex: 1;
}

.navLink {
  display: block;
  padding: 10px;
  text-align: center;
  color: #01579b; /* Azul coherente con el tema de la app */
  text-decoration: none;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.navLinkActive {
  color: #01579b; /* Color activo */
  border-bottom: 2px solid #01579b; /* Línea activa azul */
}

/* Estilos para el contenido de las pestañas */
.tabContent {
  padding: 20px;
}

/* Estilos generales para el formulario */
.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
  position: relative;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #01579b; /* Color principal */
}

.formControl {
  width: 100%;
  padding: 10px;
  border: 1px solid #a9cff0; /* Borde azul suave */
  border-radius: 6px;
  font-size: 16px;
  background-color: #ffffff; /* Fondo blanco */
}

.btnPrimary {
  background-color: #01579b; /* Azul principal */
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnPrimary:hover {
  background-color: #0277bd; /* Color más oscuro al hacer hover */
}

/* Estilos para los botones de redes sociales */
.socialButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #a9cff0; /* Bordes azules */
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.socialButton:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socialButton img {
  width: 24px;
  height: 24px;
}

.textCenter {
  text-align: center;
  margin: 15px 0;
  color: #01579b; /* Azul principal */
}

/* Estilos para el checkbox */
.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox {
  margin-right: 10px;
}

.checkboxLabel {
  font-size: 14px;
  color: #01579b; /* Azul principal */
}
