/* layout.module.css */

.header {
  background-color: #0288d1; /* Azul fuerte */
  color: #ffffff; /* Blanco */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #01579b; /* Azul más oscuro */
}

.userSection {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
  color: #333333; /* Gris oscuro */
}

.logoutButton {
  background-color: #0277bd; /* Azul oscuro */
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #01579b; /* Azul más oscuro */
}

.loginLink {
  background-color: #0277bd; /* Azul oscuro */
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.loginLink:hover {
  background-color: #01579b; /* Azul más oscuro */
}

.main {
  padding: 20px;
}
