.body{
  font-family: 'Playfair Display'; 
}
.header {
  background-color: #1c3a63; /* Azul fuerte */
  color: #ffffff; /* Blanco */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display'; 
  margin-top: 0; /* Asegura que no haya margen superior adicional */
}

.logo a {
  font-size: 24px;
  /*font-weight: bold;*/
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s; /* Añadido para transición en hover */
}

.logo a:hover {
  color: #0277bd;/* Azul más oscuro */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #0277bd; /* Azul más oscuro */
}

.userSection {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;  /* Alinea la imagen y el nombre al centro de forma horizontal */
  gap: 5px;  
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
  color: #f0f0f0; 
  margin-bottom:3%
}


.logoutButton {
  background: linear-gradient(145deg, #0277bd, #01579b); 
  border: 2px solid #01579b; /* Borde más oscuro */
  padding: 6px 10px; /* Reducido el padding para hacer el botón más pequeño */
  margin-left: 20px;
  border-radius: 6px; /* Borde más redondeado */
  font-size: 13px; /* Reducido el tamaño de fuente */
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  color: #ffffff;
  font-family: 'Playfair Display', serif; /* Fuente consistente */
}

.logoutButton:hover {
  background: linear-gradient(145deg, #01579b, #0277bd); /* Invertir gradiente en hover */
  border-color: #0277bd; /* Cambiar color del borde en hover */
}

.loginLink {
  background: linear-gradient(145deg, #0277bd, #01579b); 
  border: 2px solid #01579b; /* Borde más oscuro */
  padding: 6px 10px; /* Reducido el padding para hacer el botón más pequeño */
  margin-left: 20px;
  border-radius: 6px; /* Borde más redondeado */
  font-size: 13px; /* Reducido el tamaño de fuente */
  cursor: pointer;
  text-decoration: none; 
  transition: background 0.3s, border-color 0.3s;
  color: #ffffff;
  font-family: 'Playfair Display', serif; /* Fuente consistente */
}

.loginLink:hover {
  background: linear-gradient(145deg, #01579b, #0277bd); /* Invertir gradiente en hover */
  border-color: #0277bd; /* Cambiar color del borde en hover */
}




.userSection {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
}

.user {
  display: flex;
  align-items: center; /* Asegura que el nombre y la imagen estén alineados verticalmente */
  gap: 8px; /* Espacio entre la imagen y el nombre */
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
  color: #f0f0f0;
}

.logoutButton {
  margin-left: 15px; /* Espaciado uniforme respecto al resto de elementos */
}
