.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans);
  background-color: #e3f2fd;
}

.mainContent {
  width: 100%;
  height: 80vh; /* Reduce la altura a un 80% de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que el texto y el botón estén apilados verticalmente */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../public/Img/fondo.jpg'); /* Ruta correcta de la imagen */
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* La imagen permanece fija mientras el contenido se desplaza */
  position: relative;
  z-index: 0;
}

.mainContent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Desenfoque suave para mejorar la legibilidad */
  z-index: -1; /* Asegura que el overlay esté detrás del contenido */
}

.h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  animation: slideIn 1.5s ease-out; /* Animación para el título */
}

.viewEventsButton {
  padding: 12px 24px;
  font-size: 1rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewEventsButton:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  gap: 24px;
  padding: 20px;
  justify-content: center;
  background-color: #333;
  color: white;
  z-index: 1; /* Asegura que el footer esté sobre la imagen */
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .mainContent {
    height: 70vh; /* Ajusta el tamaño en pantallas pequeñas */
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
